body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.hidden {
  display: none;
}

input,
textarea,
button {
  margin: 10px 0;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

input:focus,
textarea:focus {
  border-color: #4caf50;
  outline: none;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

h2 {
  color: #333;
}

h3 {
  margin-top: 20px;
  color: #555;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
  width: 100%;
}

li {
  padding: 5px;
  display: flex;
  justify-content: space-between; /* Mantém o nome e o botão "x" separados */
  align-items: center;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border-bottom: none;
}


a {
  margin-top: 15px;
  color: #4caf50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#participants-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#participants-container h3 {
  text-align: center;
}

#participants-container input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
}

#participants-container button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}

#participants-container button:hover {
  background-color: #218838;
}

#participants-list {
  list-style: none;
  padding: 0;
  width: 100%;
}
